<h1>Editar Material</h1>

<div *ngIf="material">

  <form>
    <div class="form-group">
      <label for="idMaterial">ID</label>
      <input type="text" name="idMaterial" class="form-control" id="idMaterial">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" class="form-control" id="nombre">
    </div>
    <div class="form-group">
      <label for="tipoMaterial">Tipo Material</label>
      <select name="tipoMaterial" id="tipoMaterial">
        <option *ngIf="tiposMaterial" *ngFor="#tipo of tiposMaterial" [value]="tipo">{{ tipo.nombre }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="archivo">Archivo</label>
      <input type="text" name="archivo" class="form-control" id="archivo">
    </div>
    <div class="form-group"></div>
  </form>

</div>