<h1>Materiales</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Tipo Material</th>
      <th>Link</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of materiales">
      <td>{{ material.idMaterial }}</td>
      <td>{{ material.nombre }}</td>
      <td>{{ material.tipoMaterial.nombre }}</td>
      <td>{{ material.archivo }}</td>
      <td>
        <a [routerLink]="['/materiales', material.idMaterial, 'edit']">Editar</a>
      </td>
    </tr>
  </tbody>
</table>