@import "variables";

.material-tile {
  display: block;
  position: relative;
  width: 218px;
  height: 291px;
  padding: 10px;
  align-self: flex-start;
  margin: 10px;
  box-sizing: border-box;
  background-color: unquote("rgb(#{$color-accent})");
  border-radius: 5px;
  border: 1px solid unquote("rgb(#{$color-primary})");

  .material-tile__title {
    display: block;
    position: relative;
    margin: 0;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .material-tile__preview {
    display: block;
    position: relative;
    margin: 10px 0;
    width: 198px;
    height: 198px;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #a0a0a0;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin: auto;
    }
  }

  .material-tile__info {
    display: block;
    position: relative;
    margin: 10px 0 0 0;
    height: 30px;

    .material-tile__info__courses {
      display: block;
      position: relative;
      width: 155px;
      height: 15px;
      line-height: 15px;
      font-size: 13px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .material-tile__info__size {
      display: block;
      position: relative;
      width: 155px;
      height: 15px;
      line-height: 15px;
      font-size: 13px;
      font-weight: 400;
    }

    .material-tile__info__type {
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      right: 0;
      padding: 3px;
    }
  }
}