<div class="material-tile mdl-shadow--8dp">
  <div class="material-tile__title">
    {{ material.nombre }}
  </div>
  <div class="material-tile__preview">
    <img src="{{material.image}}">
  </div>
  <div class="material-tile__info">
    <div class="material-tile__info__courses">
      Cálculo I, Cálculo II, Física I
    </div>
    <div class="material-tile__info__size">
      Tamaño: 101 kB
    </div>
    <div class="material-tile__info__type">
      <i class="material-icons">picture_as_pdf</i>
    </div>
  </div>
</div>