@import "color-definitions";

$color-primary: $palette-indigo-500;
$color-primary-dark: $palette-indigo-700;
$color-accent: $palette-teal-100;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

