.materiales {
  width: 960px;
}

.materiales-table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .materiales-table__id {
    width: 50px;
  }

  .materiales-table__nombre {
    width: 300px;
  }

  .materiales-table__tipo {
    width: 150px;
  }

  .materiales-table__opciones {
    width: 150px;
  }
}